body {
    font-family: 'Montserrat', sans-serif;
    margin: 2px;
    background-color: #dddddd;
    margin: 0;
} 

.container { 
    width: 400px; 
    margin: auto 0;
}

section article {
    padding: 30px 30px;
    width: 620px ;
    height: 560px;
    margin: 50px 400px;
    transition: all 0.3s ease ;
    background-color: rgba(139, 139, 139, 0.281);
    border-radius: 0.5rem;
    cursor: pointer;
}

section article:hover {
     box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0); 
     box-sizing: border;
}


footer {
    background-color: rgba(153, 153, 153, 0.692);
    padding: 4rem;
    color: rgb(255, 254, 254);
}

footer section {
    float: right;
}

footer p {
    margin: 0px;
}

footer a:hover {
    color: cornflowerblue;
    
}

.Left_text {
    text-align: center;
    font-size: 40px;
    left: 30px ;
    top: 25px;
    display: block; 
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;   
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

strong {
    font-size: 22px;
    color:rgba(85, 84, 84, 0.541);
}

a {
    font-size: 22px;
    color: rgba(0, 0, 190, 0.6)
}

a:hover {
    color:blue
}

.header_img {
    background-image: url(https://seeklogo.com/images/F/fifa-world-cup-qatar-2022-logo-32157477CB-seeklogo.com.png);
    background-repeat: no-repeat;
    background-size:contain;
    top: 50%;
    background-position:center;
    width: 100%;
    height: 100px;
}

.navbar{
    text-decoration: none;
    color: #272727;
    
}
header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    background: linear-gradient(110deg,#1f3b72, #9ed3ff );
    align-items:center;
    padding: 6px;
    position: fixed;
    width: 100%;
    top:0;
}

.logo {
    margin-bottom: 20px;
    display:flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 20px;

}

nav a{
    font-weight: 500;
    padding-right: 40px;

}

nav a:hover{
    color:white;

}
